@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: "Poppins" , sans-serif ;
    background-color:  rgba(142, 164, 225, 0.345);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

} 


.butons {
    display: flex;
}

.btn-1 :hover {
    background-color: #ff5a2c;
}


.product-1 {
    background-color: #21223a;

}

.product-txt {
    padding: 50px 30px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 17px;
    color: #ff5a2c;
}
.btn-2 {
    padding:  5px 25px;
    background-color: #ff5a2c;
    margin-right: 0;
}