@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: "Poppins" , sans-serif ;
    background-color: whitesmoke;
    margin: 0;
}


menu {
    position:  absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
 color: black;
 font-size: 25px;
 font-weight: 800;
 text-transform: uppercase;

}

.menu.navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    font-weight: 600;
    display: block;
}

.menu.navbar ul li a :hover {
    color: #ff5a2c;
}

#menu {
    display: none;
}

.menu-icono{
    width: 25 px;

}

.menu label {
 cursor: pointer;
 display: none;
}

.header-content {
    display: flex;
}

h1 {font-size: 3.5em;}
p {font-size: 1.25em;}

.container {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 40% 60%;
}

#Historia-jpg {
  text-align: right; /* Centra la imagen a la derecha */
  border-radius: 8px;
  width: 300px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#Mision-jpg {
    text-align: right; /* Centra la imagen a la derecha */
    border-radius: 8px;
    width: 300px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}
#Vision-jpg {
    text-align: right; /* Centra la imagen a la derecha */
    border-radius: 8px;
    width: 300px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
}


.footer {
    padding: 100px 0 50px 0;
    background-color: rgba(255, 255, 255, 0.808);
    

}

.footer-content {
    display: flex;
    justify-content: space-between;
    
}


