form#soporte{
    margin: 10px;
    border: 3px black dashed;
    border-radius: 10px;
}

textarea{
    height: 200px;
}

img{
    margin-top: 100px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 20px black;
}